html, body{
    height: 100%;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*CARDS*/

.card{
    padding-left: 20px;
    padding-right: 20px;
}

.card-title{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 2.5rem;
    padding-bottom: 15px;
    padding-top: 25px;
}

.card-text{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    padding-bottom: 50px;
    letter-spacing: 0.5px;
}

.card.left-card{
    background-color: hsl(31, 77%, 52%);
    width: 20rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.card.middle-card{
    background-color: hsl(184, 100%, 22%);
    width: 20rem;
    border-radius: 0;
}

.card.right-card{
    background-color: hsl(179, 100%, 13%);
    width: 20rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*BUTTONS*/

.card .btn{
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 50px;
    mix-blend-mode: screen;
    padding: 10px 25px;
    margin-bottom: 25px;
}

.card button:hover{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    border: solid 2px;
}
/*CAR IMAGES*/

.img-sedan{
    height: 40px;
    width: 60px;
    margin-top: 20px;
}

.img-suv{
    height: 40px;
    width: 60px;
    margin-top: 20px;
}

.img-luxury{
    height: 40px;
    width: 60px;
    margin-top: 20px;
}

@media (max-width: 768px){
    .container-fluid{
        margin: 400px 0;
    }
    .card.left-card{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .card.middle-card{
        border-radius: 0;
    }
    .card.right-card{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media (min-width: 769px){
    .container-fluid{
        height: 100vh;
    }
